django
flask
mysqlclient
matplotlib
pandas
SpeechRecognition
cmake
opencv-python
dlib
textblob
semantic
beacontools
pyttsx3
#sudo apt-get install portaudio19-dev
pip install django-cors-headers
nexmo
PyAudio
build-essential
face_recognition
python3-tk
libespeak1
sounddevice
openpyxl
xlwt
django-s3-sqlite