{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
            <div class="noticediv">
                <div class="counterdiv">
                    <p>
                        Total <br>    0</p>
                </div>
            </div>

        <div class="formdiv">
                <p class="errorclass"></p>
                <p class="successclass"></p>
              <table class="forminput">
                    <tr>
                        <td><select name="" id="" class="classnames">
                            <option value="">Class names</option>
                        </select></td>
                    </tr>
              </table>

            <form action="/createclass" method="POST">
                <table class="forminput">
                    <tr>
                        <td><input type="text" name="classname" placeholder="Class name"></td>
                    </tr>
                    <tr>
                        <td>
                <button type="submit" class="triggerBtn">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
	</div><!-- end of wrapperforcontent -->
	</div>
	</body>
	</html>
	{% endblock %}