{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
<div class="modularform">
<div class="inputmodal">
<p class="headername">Create payment servivce</p>
<div class="passportholder">
<p>
        <img src="" alt="" class="img">
        <img src="" id="img">
    <br clear="all">
        <span class="surname"></span>
    </p>
    <button type="button" class="viewuserpro">View user</button>
    <br clear="all">
</div>
<div class="inputpanel">
    <p id="message"></p>
<form id="createservice">
<table class="inputpaneltable">
<tr>
<td colspan="2"><p>Enter Email address and click on view user</p> <input type="email" minlength="2" maxlength="40" required name="email" placeholder="Enter user email address" class="useremail"></td>
<td></td>
</tr>

<tr>
<td><p>Category</p>
<select class="cid categID longinput" name="cid" required>
<option value="">Select Category</option>
</select></td>
<td><p>Description</p>
<select class="description longinput" name="description" required>
<option value="">Select Description</option>
</select>
</td>
</tr>
<tr>
<td><p>Price</p>
<input type="number" minlength="8" maxlength="16" required name="priceset" placeholder="Price" class="smallinput">
<input type="number" minlength="8" maxlength="10" required name="qty" placeholder="quantity" class="smallinput">
<input type="hidden" name="payid" class="payid smallinput">
<input type="hidden" name="userid" class="userid smallinput">
</td>
<td><button type="submit" class="actionBtn">Add payment</button>
</td>
</tr>
</table>
</form>
</div>

</div>



<div class="modalwrapper">
			<div class="menuone menuonemain">
	<ul class="mainmenulist">
		<li><a href="#">Result(s) Found</a></li>
		<li><span class="adiv"><a href="#"><i class="fa fa-save"></i> .................... </a></span></li>
	</ul>
		</div>
		</div> <br clear="all">
<div class="tablediv">
    <div class="uploadmodal"></div>
    <div class="tablelist-for-upload">
        <p id="response"></p>
    <table class="itemlist container" id="recordlist">
    </table>

    </div>
    <br clear="all"><br clear="all">
</div>
<!-- <div class="dashright"></div> -->

</div>
	</div><!-- end of wrapperforcontent -->
	<br>
	</div>
	</body>
	</html>
	{% endblock %}