{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
        <div class="formdiv">
                <p>Create access category(Hostel Name, building name)</p>
                <p class="successclass" id="message"></p>
                <form id="formlevel">
              <table class="forminput">
                <tr>
                <td><input type="text" required name="levelname" class="levelname" placeholder="Provide a name"></td>
                </tr>
                    <tr>
                <td>
                <button type="submit" class="triggerBtn savelevel">Save and Submit</button>
                </td>
                    </tr>
                </table>
            </form>
                <p class="successclass" id="response"></p>
                <input type="hidden" class="tdname">
            <table class="itemlist" id="recordlist">
        </table>
            </div>
	</div><!-- end of wrapperforcontent -->
	</div>
	</body>
	</html>
	{% endblock %}