{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
<div class="modularform">
<div class="inputmodal">
<p class="headername"></p>
<div class="modalwrapper">
			<div class="menuone menuonemain">
	<ul class="mainmenulist">
		<li><a href="#">Records</a></li>
		<li><span class="adiv"><a href="#"><i class="fa fa-save"></i> .................... </a></span></li>
	</ul>
		</div>
		</div> <br clear="all">
<div class="tablediv">
    <div class="uploadmodal"></div>
    <div class="tablelist-for-upload">
        <p id="response"></p>
    <table class="itemlist container" id="recordlist">
    </table>

    </div>
    <br clear="all"><br clear="all">
</div>
<!-- <div class="dashright"></div> -->

</div>
	</div><!-- end of wrapperforcontent -->
	<br>
	</div>
	</body>
	</html>
	{% endblock %}