{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
        <div class="formdiv">
                <p>HOSTEL ALLOCATION LIST</p>
                <p class="successclass" id="message"></p>
                <input type="hidden" class="tdname">
            <table class="itemlist" id="recordlist">
        </table>
	<br clear="all">
            </div>
	</div><!-- end of wrapperforcontent -->
	</div>
	</body>
	</html>
	{% endblock %}