{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
<div class="modularform">
<div class="inputmodal">
<p class="headername">Payment portal</p>
<div class="passportholder">
<p>
        <img src="" alt="" class="img">
        <img src="" id="img">
    <br clear="all">
        <span class="surname"></span>
    </p>
    <button type="button" class="">Photograph</button>
    <br clear="all">
</div>
<div class="inputpanel">
    <p id="message"></p>
<form id="createservice">
<table class="inputpaneltable">
<tr>
<td colspan="2"><p>Enter Transaction ID and click on view user</p> <input type="text" minlength="2" maxlength="40" required name="tranID" placeholder="Enter transaction ID" class="tranID"></td>
<td></td>
</tr>

<tr>
<td><p>Total Price</p>
<input type="number" minlength="8" maxlength="16" name="totalprice" placeholder="Price" class="totalprice smallinput">
</td>
<td><button type="submit" class="viewuserpay actionBtn">Generate invoice</button>
</td>
</tr>
</table>
</form>
</div>

</div>



<div class="modalwrapper">
			<div class="menuone menuonemain">
	<ul class="mainmenulist">
		<li><a href="#">Your Invoice</a></li>
		<li><span class="adiv"><a href="#"><i class="fa fa-save"></i> .................... </a></span></li>
	</ul>
		</div>
		</div> <br clear="all">
<div class="tablediv">
    <div class="uploadmodal"></div>
    <div class="tablelist-for-upload">
        <p id="response"></p>
    <table class="itemlist container" id="recordlist">
    </table>

    </div>
    <br clear="all"><br clear="all">
</div>
<!-- <div class="dashright"></div> -->

</div>
	</div><!-- end of wrapperforcontent -->
	<br>
	</div>
	</body>
	</html>
	{% endblock %}