{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
            <div class="noticediv">
                <!-- <div class="counterdiv">
                    <p>
                        Total <br>    0</p>
                </div> -->
            </div>

        <div class="formdiv">
                <p>Uploaded result record(s)</p>
                <p class="errorclass">{{data1}}</p>
                <form method="post" action="/insertclass">
            <table class="itemlist">
                <tr>
                    <th>ID</th>
                    <th>Class</th>
                    <th>Session</th>
                    <th>Semester</th>
                    <th>Filename</th>
                    <th>Action</th>
                    </tr>
            {% for data in classlist: %}
                    <tr>
                    <td>{{data[0]}}</td>
                    <td>{{data[6]}}</td>
                    <td>{{data[2]}}</td>
                    <td>{{data[3]}} Semester</td>
                    <td>{{data[4]}}</td>
                    <td><form action='/' method='post'>
                    <input type="hidden" value="{{data[4]}}" name="filename">
                    <button type="submit">Open</button></form></td>
                    </tr>
            {% endfor %}
        </table>
            </div>
	</div><!-- end of wrapperforcontent -->
	</div>
	</body>
	</html>
	{% endblock %}