{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
            <div class="noticediv">
                <!-- <div class="counterdiv">
                    <p>
                        Total <br>    0</p>
                </div> -->
            </div>

        <div class="formdiv">
                <p>Upload class result</p>
                <p class="errorclass">{{data1}}</p>
                <p class="successclass">{{classnamedata}}</p>
                <form method="post" action="/uploadclassfile" enctype="multipart/form-data">
              <table class="forminput">
                  <tr>
                    <td><select name="class" required>
                    <option value="">Select class</option>
                            {% for data in classlist: %}
                                 <option value="{{data[1]}}">{{data[1]}}</option>
                            {% endfor %}
                    </select></td>
                    </tr>
                    <tr>
                    <td><select name="session" required>
                    <option value="">Select Session</option>
                    <option value="2018/2019">2018/2019</option>
                    <option value="2019/2020">2019/2020</option>
                    <option value="2020/2021">2020/2021</option>
                    </select></td>
                    </tr>
                    <tr>
                    <td><select name="semester" required>
                    <option value="">Select Semester</option>
                    <option value="First">First semester</option>
                    <option value="Second">Second semester</option>
                    </select></td>
                    </tr>
                    <tr>
                        <td><input type="file" required name="filename" placeholder="Class name"></td>
                    </tr>
                    <tr>
                        <td>
                <button type="submit" class="triggerBtn">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            </div>
	</div><!-- end of wrapperforcontent -->
	</div>
	</body>
	</html>
	{% endblock %}