{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
<div class="modularform">
<div class="inputmodal">
<p class="headername">Face Enroll Portal</p>
<div class="passportholder">
<p>
        <img src="" alt="" class="img fromcamera">
        <img src="" id="img">
    </p>
</div>
<div class="inputpanel">
    <p id="message"></p>
<input type="file" id="file" name="filename" class="file" required>
<table class="inputpaneltable">
<tr>
<td colspan="2"><p>Matric Number</p> <input type="text" minlength="5" maxlength="30" id="userid" required readonly name="userid" placeholder="" class="address"></td>
<td></td>
</tr>
<tr>
<td><button type="submit" class="actionBtn enroll">Enroll Face</button></td>
<td></td>
</tr>
</table>
</div>

</div>



<div class="modalwrapper">
			<div class="menuone menuonemain">
	<ul class="mainmenulist">
		<li><a href="#">Result(s) Found</a></li>
		<li><span class="adiv"><a href="#"><i class="fa fa-save"></i> .................... </a></span></li>
	</ul>
		</div>
		</div> <br clear="all">
<div class="tablediv">
    <div class="uploadmodal"></div>
    <div class="tablelist-for-upload">
        <p id="response"></p>
    <table class="itemlist container" id="recordlist">
    </table>

    </div>
    <br clear="all"><br clear="all">
</div>
<!-- <div class="dashright"></div> -->

</div>
	</div><!-- end of wrapperforcontent -->
	<br>
	</div>
	</body>
	</html>
	{% endblock %}