{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
	<div class="modulesummary">
<div class="modularform">
<div class="inputmodal">
<p class="headername">Create payment service</p>
<div class="passportholder">
<p>
        <img src="{{url_for('static', filename='icons/pay.jpg')}}" alt="" class="img">
    </p>
</div>
<div class="inputpanel">
    <p id="message">{{message}}</p>
<form action="/categoryinsert" method="post">
<table class="inputpaneltable">
<tr>
<td><p>Category Name</p> <input type="text" minlength="2" maxlength="20" required name="cname" placeholder="Category Name" class="category"></td>
<td><p>Description(Enter "<em>Null</em>" if nothing)</p> <input type="text" minlength="2" maxlength="40" required name="desc" placeholder="Description (Optional)" class="desc"></td>
</tr>
<tr>
<td></td>
<td><button type="submit" class="actionBtn">Save and Submit</button></td>
</tr>

</table>
</form>
</div>

</div>



<div class="modalwrapper">
			<div class="menuone menuonemain">
	<ul class="mainmenulist">
		<li><a href="#">Result(s) Found</a></li>
		<li><a href="<?php echo base_url(); ?>home/account"><i class="fa fa-refresh"></i></a></li>
        <li><span class="">Filter By: </span></li>
        <li><select name="ids">
				<option value="Surname">Surname</option>
				<option value="Surname">Last name</option>
				<option value="Surname">Date Created</option></select>
        </li>
        <li><span class="">Download To: </span></li>
        <li><select name="ids">
				<option value="Surname">Excel</option>
				<option value="Surname">MsWord</option>
                </select>
        </li>
		<li><span class="adiv"><a href="#"><i class="fa fa-save"></i> .................... </a></span></li>
	</ul>
		</div>
		</div> <br clear="all">
<div class="tablediv">
    <div class="uploadmodal"></div>
    <div class="tablelist-for-upload">
        <p id=""></p>
    <table class="itemlist container" id="recordlist">
        <!-- -->
        <!-- <tr>
        <td>1</td>
        <td><input class="check" type="checkbox"/></label></td>
            <td>Bashiru</td>
            <td>Shuaib</td>
            <td>45, fatusi street, daleko</td>
            <td>instructsme@gmail.com</td>
            <td>08172790181</td>
            <td><button class="view"><i class="fa fa-eye"></i></button></td>
            <td><button class="edit"><i class="fa fa-edit"></i></button></td>
            <td><button class="trash"><i class="fa fa-trash"></i></button></td>
        </tr> -->

    </table>

    </div>
</div>
<!-- <div class="dashright"></div> -->

</div>

	</div>
	</div>


	<div id="modula"></div>
	</div><!-- end../ of right content -->
	</div><!-- end of wrapinnercon -->

	</div><!-- end of wrapperforcontent -->
	<br>
	</div>
	</body>
	</html>
	{% endblock %}