{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
        <div class="formdiv">
                <p>Upload list</p>
                <p class="successclass" id="message"></p>
                <form id="resultfileupload" enctype="multipart/form-data">
              <table class="forminput">
                  <tr>
                    <td><select class="cid" name="classnameid" required>
                    <option value="">Select category</option>
                    </select></td>
                    </tr>
                    <tr>
                        <td><input type="file" required name="filename" id="file" placeholder="Class name"></td>
                    </tr>
                    <tr>
                        <td>
                <button type="submit" class="triggerBtn">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
                <p class="successclass" id="response"></p>
                <input type="hidden" class="tdname">
            <table class="itemlist" id="recordlist">
        </table>
	<br clear="all">
	<br clear="all">
<p class="successclass" id="response2"></p>
	<table class="itemlist" id="recordlist2"></table>
            </div>
	</div><!-- end of wrapperforcontent -->
	</div>
	</body>
	</html>
	{% endblock %}