.forminput{
    width: 98%;
    margin: auto;
}
.forminput input{
    width: 98%;
    height: 25px;
    padding: 5px;
    border:1px solid #ccc;
    border-radius: 5px;
    background: #fafafa;
    font-size: 14px;
}
.forminput td{
    width: 99%;
}
.classnames{
    width: 100%;
    padding: 6px;
    border:1px solid #ccc;
    border-radius: 5px;
    background: #fafafa;
    font-size: 14px;  
}
.formdiv{
    width: 70%;
    height: auto;
    background: white;
    float: right;
    padding: 10px;
    /* border-left:1px solid black; */
    margin-left: 2px;
}
.counterdiv{
    width: 150px;
    height: 150px;
    margin: auto;
	box-shadow: 3px 3px 6px 0 rgba(0,0,0,.3);
    background: #0f6cb2;
    border-radius: 50%;
}
.counterdiv p{
    text-align: center;color: white;
    padding: 0px;
    margin: 0px;
    position: relative;
    padding-top:20px;
    font-size: 40px;
}
.noticediv{
    width: 26%;
    height: auto;
    /* background: white; */
    float: left;
    padding: 10px;
}
.triggerBtn{
    float: right;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin:auto;
	border:none;
	margin-right: 10px;
	margin-top:20px;
	/* margin-bottom:20px; */
	cursor: pointer;
	background: #e24407;
	color: white;
	box-shadow: 3px 3px 6px 0 rgba(0,0,0,.3);

}