<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<div class="row banner">
        <div class="col-sm banner-content">
            <div class="group-btn">
                <h2>Welcome, Yabatech Muslims Community</h2>
            </div>
            <div class="group-btn">
            <p class="">Build the house of Allah & gain immense reward. Donate and give sadaqah to the Mosque Building Fund. This fund is used to construct the house of Allah in Yaba College of Technology, Yaba, Lagos.</p>
            </div>
            <div class="group-btn">
                <ul class="list-group">
                    <li class="list-group-item">Provide a safe place and environment for the worshipers to pray and contemplate.</li>
                <li class="list-group-item">One of the best forms of continuous charity (Sadaqah Jariyah) is to build a masjid.</li>
            </ul>
            </div>
            <div class="group-btn">
                <button class="btn btn-primary" data-toggle="popover" data-placement="right" title="Account Name: Yct Muslim Community" data-content="Zenith Bank: 1012334378">Fund the Mosque</button>
            </div>
        </div>
        <div class="col-sm banner-image">
            <img src="<?php echo base_url()?>asset/images/proposed2.jpg">
        </div>
    </div>
    
    <div class="wrapmodule center-content">
        <div class="row module-content">
            <div class="col-md-12 title-box">
                <h2 class="text-center title-center">The Mosjid in the College.</h2>
            </div>
            <br clear="all">
    </div>
    <div class="row module-content">
        <div class="col-sm">
            <div class="row">
        <div class="col-md-12 col-12 top-img">
            <img src="<?php echo base_url()?>asset/images/student.png">
        </div>
        <div class="col-md-12 col-12">
            <h4>Worshipers listening to Khutbah</h4>
            <p class="">The toilet and the worn-out facilities, all of which cannot serve the booming congregation of worshippers. The mosque cannot match challenges of neighbourng buildings within the College either.
    </p>
        </div>
            </div>
        </div>
        
        <div class="col-sm">
            <div class="row">
        <div class="col-md-12 col-12 top-img">
            <img src="<?php echo base_url()?>asset/images/ablution.png">
        </div>
        <div class="col-md-12 col-12">
            <h4>Ablution Centre</h4>
            <p class="">Both brothers and sisters queue up and as well struggle for ablution in preparation for solat. Some worshippers miss Solat at times due solely to inaccessibility to ablution facilities</p>
        </div>
            </div>
        </div>
    
        <div class="col-sm">
            <div class="row">
        <div class="col-md-12 col-12 top-img">
            <img src="<?php echo base_url()?>asset/images/ablution.png">
        </div>
        <div class="col-md-12 col-12">
            <h4>Worshippers</h4>
            <p class="">Some other worshippers go extra miles to meet up with the solat. We all need to collectively change this situation for a better one. Allah is pure, and He loves pure things.</p>
        </div>
            </div>
        </div>
    </div>
    </div>
    
    
    <div class="wrapmodule">
        <div class="media border p-1">
      <img src="<?php echo base_url()?>asset/images/partners_img1.jpg" alt="Mosque" class="mr-1 mt-1" style="width:60px;">
      <div class="media-body">
      <h2 class=”text-center”>BRIEF HISTORY OF YABATECH MUSLIM COMMUNITY</h2>
    
    <p class=”lead”>Yaba College of Technology was founded in the year 1947 with the objective of educating the society in the area of technical-education. However, other curricular activities such as games, sports and religious activities were later introduced because they were, and are still, part of education. Those activities that support education provided the ample opportunity for Muslim staff and students to associate with a view to pursuing common religious goals, such as observance of daily Solawat and Jumat service. <a href="<?php echo base_url()?>home/about">Continue reading..</a></p>
      </div>
    </div>
    
    </div>
    
    
    <div class="wrapmodule">
        <div class="row module-content">
            <div class="col-md-12 title-box">
                <h2 class="text-center title-center">We need your support.</h2>
                <p class="text-center">Support this worthy cause now, and Almighty Allah will bless you abundantly on earth and also reward you tremendously hereafter. Amin</p>
            </div><br clear="all">
    </div>
    <div class="row module-content">
    
        
        <div class="col-sm">
            <div class="row">
        <div class="col-md-3 col-3 side-img">
            <img src="<?php echo base_url()?>asset/images/money.jpg">
        </div>
        <div class="col-md-9 col-9">
            <h4>Fund Mosjid</h4>
            <p class="">The prophet (SAW) said:” Whoever builds a Mosque in which the Name of Allah is remembered, Allah will build for him a house in Paradise” (An-Nasa’i).</p>
        </div>
            </div>
        </div>
    
            <div class="col-sm">
            <div class="row">
        <div class="col-md-3 col-3 side-img">
            <img src="<?php echo base_url()?>asset/images/block.jpg">
        </div>
        <div class="col-md-9 col-9">
            <h4>Donate Blocks</h4>
            <p class="">Donate block used in make walls, pavements and other elements in Mosjid building.</p>
            <h4>.... May Allah reward you abundantly</h4>
        </div>
            </div>
        </div>
    
        <div class="col-sm">
            <div class="row">
        <div class="col-md-3 col-3 side-img">
            <img src="<?php echo base_url()?>asset/images/proposed.png">
        </div>
        <div class="col-md-9 col-9">
            <h4>For Non-Monetary Donations and Enquiries, please call:</h4>
            <p class="">08023020827, 08023239531, 08174724199
    “Whoever builds a mosque for the sake of Allah, then Allah will build for him a house like it in Paradise.” – [Sahih al-Bukhari, Sahih Muslim].</p>
        </div>
            </div>
        </div>
    </div>
    </div>
    <hr/>
    <div class="wrapmodule buttons">
    <div class="row text-center">
        <div class="col-md"><button class="btn btn-warning" data-toggle="popover" data-placement="top" title="Account Name: Yct Muslim Community" data-content="Zenith Bank: 1012334378">Donate Now</button></div>
        <div class="col-md"><button class="btn btn-warning" data-toggle="popover" data-placement="top" title="Email: muslims@yabatech.edu.ng" data-content="Call: 08023020827, 08023239531, 08174724199">Contact us</button></div>
        <div class="col-md"><a href="<?php echo base_url()?>home/community"><button class="btn btn-warning">Community Members</button></a></div>
    </div>
    </div>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>