{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
        <div class="formdiv">
                <p>Market place</p>
                <p class="successclass" id="message"></p>

                <p class="successclass" id="response"></p>
                <input type="hidden" class="tdname">
            <table class="itemlist" id="recordlist">
                <tr>
                    <th>LevelID</th>
                    <th>Level name</th>
                    <th>Date Created</th>
                    <th>Status</th>
                </tr>
        </table>
            </div>
	</div><!-- end of wrapperforcontent -->
	</div>
	</body>
	</html>
	{% endblock %}