{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<br>
	<div class="slidecontent">
            <div class="noticediv">
                <!-- <div class="counterdiv">
                    <p>
                        Total <br>    0</p>
                </div> -->
            </div>

        <div class="formdiv">
                <p>Class record(s)</p>
                <p class="errorclass">{{data1}}</p>
                <form method="post" action="/insertclass">
            <table class="itemlist">
                <tr>
                    <th>ID</th>
                    <th>Class name</th>
                    <th>Active satus</th>
                    </tr>
            {% for data in classlist: %}
                    <tr>
                    <td>{{data[0]}}</td>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    </tr>
            {% endfor %}
        </table>
            </div>
	</div><!-- end of wrapperforcontent -->
	</div>
	</body>
	</html>
	{% endblock %}