{% extends 'layout.html' %}
{% block content %}
<div class="sidebarright" id="sidebarright">
	<p id="response2"></p>
	<div class="modalwrapper">
			<div class="menuone menuonemain">
	<ul class="mainmenulist">
		<li><a href="#">Statistics</a> <i class="fa fa-angle-double-right"></i></li>
		<li class="ts">Total Students: <span class="count totalstudent">0</span> <i class="fa fa-angle-double-down"></i></li>
		<li class="tc">Courses uploaded: <span class="count courseuploaded">0</span> <i class="fa fa-angle-double-down"></i></li>
		<li class="tr">Results uploaded: <span class="count resultploaded">0</span> <i class="fa fa-angle-double-down"></i></li>
		<li><span class="adiv"><a href="#"><i class="fa fa-save"></i> ................. </a></span></li>
	</ul>
		</div>
	<br clear="all">
           <table class="itemlist" id="recordlist2">
        </table>
  <!--<div class="chartdivdash">
                <div class="chartbox">
                <img src="{{ url_for('static', filename='gifs/chart2.gif') }}">
                </div>
                <div class="chartmessage">
                <p>Total percentage: =<span id="tp">00000</span>%</p>
                <p>If you get continue with this performance you can get <span id="getto">00000</span>%. If you do not you may fall to <span id="donot">00000</span>%</p>
                </div>
                </div>-->

	</div>
	</div><!-- end of wrapinnercon -->

	</div><!-- end of wrapperforcontent -->
	<br>
	</div>
	</body>
	</html>
	{% endblock %}